n8n_internetdb_openai_ip_report.json
{
  "name": "InternetDB IP Report with OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Run Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a",
              "name": "inputFile",
              "value": "/data/ips.csv",
              "type": "string"
            },
            {
              "id": "b",
              "name": "openAiApiKey",
              "value": "REPLACE_WITH_YOUR_OPENAI_API_KEY",
              "type": "string"
            },
            {
              "id": "c",
              "name": "openAiModel",
              "value": "gpt-4.1-mini",
              "type": "string"
            },
            {
              "id": "d",
              "name": "reportTitle",
              "value": "Shodan InternetDB Exposure Report",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.inputFile }}",
        "options": {}
      },
      "id": "3",
      "name": "Read IP CSV",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "operation": "csv",
        "binaryPropertyName": "data",
        "options": {
          "headerRow": true
        }
      },
      "id": "4",
      "name": "Extract CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nfunction valid(v){const p=String(v).trim().split('.');return p.length===4&&p.every(x=>/^\\d{1,3}$/.test(x)&&Number(x)>=0&&Number(x)<=255);}\nconst seen=new Set(), out=[], rejected=[];\nfor(const row of rows){const raw=row.json.ip??row.json.IP??row.json.address??row.json.ip_address;\n if(raw===undefined||raw===null||String(raw).trim()===''){rejected.push({value:raw??'',reason:'Missing IP value'});continue;}\n const ip=String(raw).trim(); if(!valid(ip)){rejected.push({value:ip,reason:'Invalid IPv4 address'});continue;}\n if(seen.has(ip)){rejected.push({value:ip,reason:'Duplicate'});continue;} seen.add(ip); out.push({json:{ip,rejectedRows:rejected}});}\nif(!out.length) throw new Error('No valid IPv4 addresses found. Use a CSV column named ip.'); return out;"
      },
      "id": "5",
      "name": "Validate and Deduplicate IPs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://internetdb.shodan.io/{{ $json.ip }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 250
            }
          }
        }
      },
      "id": "6",
      "name": "InternetDB Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const responses=$input.all(); const requests=$('Validate and Deduplicate IPs').all();\nconst findings=responses.map((item,i)=>{const ip=requests[i]?.json?.ip??null; const r=item.json??{}; const status=r.statusCode??200; const b=r.body??r;\n if(status===404)return{ip,found:false,statusCode:status,ports:[],hostnames:[],cpes:[],vulnerabilities:[],tags:[],message:'No InternetDB record found.'};\n if(status<200||status>=300)return{ip,found:false,statusCode:status,ports:[],hostnames:[],cpes:[],vulnerabilities:[],tags:[],message:b?.detail??b?.error??`Lookup failed with HTTP ${status}.`};\n return{ip:b.ip??ip,found:true,statusCode:status,ports:Array.isArray(b.ports)?b.ports:[],hostnames:Array.isArray(b.hostnames)?b.hostnames:[],cpes:Array.isArray(b.cpes)?b.cpes:[],vulnerabilities:Array.isArray(b.vulns)?b.vulns:[],tags:Array.isArray(b.tags)?b.tags:[]};});\nreturn[{json:{generatedAt:new Date().toISOString(),source:'Shodan InternetDB',sourceNote:'Summarized data; full service banners are not included.',requestedCount:requests.length,foundCount:findings.filter(x=>x.found).length,notFoundOrFailedCount:findings.filter(x=>!x.found).length,rejectedRows:requests[0]?.json?.rejectedRows??[],findings}}];"
      },
      "id": "7",
      "name": "Aggregate InternetDB Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        390,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Configuration').first().json.openAiApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: $('Configuration').first().json.openAiModel, instructions: `You are a cybersecurity instructor creating a concise professional report from Shodan InternetDB data. Return Markdown only. Use sections: Executive Summary, Scope and Methodology, Asset Findings, Notable Exposures, Vulnerability Associations, Limitations, and Recommended Validation Steps. Treat ports, CPEs, and CVEs as observations or associations requiring validation, not proof of current exposure or exploitability. Explain technical items in plain language for a class lab.`, input: `Report title: ${$('Configuration').first().json.reportTitle}\\n\\nInternetDB results:\\n${JSON.stringify($json, null, 2)}`, temperature: 0.2 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "8",
      "name": "Generate Report with OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const r=$json; let report=r.output_text;\nif(!report&&Array.isArray(r.output)) report=r.output.flatMap(x=>Array.isArray(x.content)?x.content:[]).filter(x=>x.type==='output_text'||typeof x.text==='string').map(x=>x.text).join('\\n\\n');\nif(!report) throw new Error('No report text could be extracted from the OpenAI response.');\nreturn[{json:{reportTitle:$('Configuration').first().json.reportTitle,generatedAt:new Date().toISOString(),model:$('Configuration').first().json.openAiModel,reportFormat:'markdown',report,sourceData:$('Aggregate InternetDB Results').first().json}}];"
      },
      "id": "9",
      "name": "Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Run Workflow": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Read IP CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read IP CSV": {
      "main": [
        [
          {
            "node": "Extract CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV": {
      "main": [
        [
          {
            "node": "Validate and Deduplicate IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Deduplicate IPs": {
      "main": [
        [
          {
            "node": "InternetDB Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InternetDB Lookup": {
      "main": [
        [
          {
            "node": "Aggregate InternetDB Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate InternetDB Results": {
      "main": [
        [
          {
            "node": "Generate Report with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report with OpenAI": {
      "main": [
        [
          {
            "node": "Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb8c39c0-8d06-4e8d-9b37-8da96129cb5f",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}